[Unit]
Description=Nonio avatar CDN
After=network.target

[Service]
User=fable
WorkingDirectory=/home/fable/nonio/soci-avatar-cdn
ExecStart=/home/fable/nonio/soci-avatar-cdn/avatar-cdn
Restart=always
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
