[Unit]
Description=Nonio image CDN
After=network.target

[Service]
User=fable
WorkingDirectory=/home/fable/nonio/soci-image-cdn
ExecStart=/home/fable/nonio/soci-image-cdn/image-cdn
Restart=always
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
