[Unit]
Description=Nonio API (noniod)
After=network.target mariadb.service
Wants=mariadb.service

[Service]
User=fable
WorkingDirectory=/home/fable/nonio/nonio-backend
EnvironmentFile=/home/fable/env/api.env
ExecStart=/home/fable/nonio/nonio-backend/dist/noniod
Restart=always
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
