[Unit]
Description=Nonio video CDN
After=network.target

[Service]
User=fable
WorkingDirectory=/home/fable/nonio/nonio-video-cdn
ExecStart=/home/fable/nonio/nonio-video-cdn/video-cdn
Restart=always
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
