[Unit]
Description=Nonio html CDN
After=network.target

[Service]
User=fable
WorkingDirectory=/home/fable/nonio/nonio-html-cdn
ExecStart=/home/fable/nonio/nonio-html-cdn/html-cdn
Restart=always
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
