#post
  #post-content-container
    img#post-content(src='images/demo/12.jpg')
  #post-metadata
    #post-points 148
    #post-title I hiked alone all day, ran away from two moose, and took a picture of the most amazing view from the summit. Alta, Utah, USA, [4000x6000]
    #post-icon
    #post-user pwnies
    ul#post-comment-filters
      li.filter.active Popular
      li.filter Top
      li.filter New
  #post-comments
    #post-comments-input
      input#post-add-comment(placeholder='add comment')
      #post-add-image
      #post-add-smiley
      
