#sidebar
  #logo SOCI
  #submit submit
  #posts.category.active
    ul
      li.header posts
      li.active trending
      li new
      li top
  #tags.category
    ul
      li.header tags
      li trending
      li top
      li #funny
      li #webdesign
      li #gif
  #comments.category
    ul
      li.header comments
      li trending
      li top

  #user.category
    ul
      li.header= user
      li posts
      li comments
      li inbox
      li settings
