soci-image-cdn
files/images/*.webp
files/images/*.heic
files/temp-images/*
!files/temp-images/readme.md
files/videos/*.webm
files/videos/*.mp4
files/temp-videos/*
!files/temp-videos/readme.md
files/thumbnails/*.webp
files/thumbnails/*.heic
config.json