soci-avatar-cdn
files/images/*.webp
files/temp-images/*
!files/temp-images/readme.md
files/videos/*.webm
files/videos/*.mp4
files/temp-videos/*
!files/temp-videos/readme.md
files/thumbnails/*.webp
config.json
