#sidebar
  width: 192px
  height: 100%
  position: relative
  padding-top: 54px
  min-width: 192px
  //background: radial-gradient(ellipse at center, rgba(36,11,6,1) 0%, rgba(61,47,61,1) 100%)
  border-right: 1px solid $border-color
  //border-right: 1px solid #260e0a
  #submit
    border-radius: 30px
    height: 30px
    width: 120px
    margin: 15px auto 30px
    color: #fff
    font-weight: 100
    background: linear-gradient(to right, $green 0%, ($green - #111) 100%)
    letter-spacing: 0.5px
    text-align: center
    line-height: 28px
    cursor: pointer
  > div
    margin-bottom: 30px
  ul
    margin: 0
    padding: 0
  li
    height: 30px
    line-height: 30px
    font-size: 14px
    color: $text-gray
    cursor: pointer
    margin: 0
    padding-left: 54px
    &.header
      font-weight: 500
      color: #000
      text-transform: uppercase
      &:hover
        color: #000
    &.active
      color: $green
      &:hover
        color: $green + #111
    &:hover
      color: $text-gray - #222
  .header
    background-repeat: no-repeat
    background-size: 20px
    background-position: 20px center
  #logo
    height: 40px
    width: calc(100% + 1px)
    position: absolute
    text-align: center
    line-height: 40px
    color: #fff
    left: 0
    letter-spacing: 10px
    font-weight: 300
    top:0
    background: linear-gradient(to right, $green 0%, ($green - #111) 100%)
    //background: linear-gradient(to right, #4b5649 0%, #603228 100%)

  #posts
    .header
      background-image: url(../images/svg/justify-left.svg)
      background-size: 18px
  #tags
    .header
      background-image: url(../images/svg/tag.svg)
      background-size: 18px
  #comments
    .header
      background-image: url(../images/svg/chat.svg)
  #user
    position: absolute
    bottom: 10px
    .header
      background-image: url(../images/svg/account-login.svg)
