$green = #36B018
$border-color = #ddd
$text-gray = #95989A
@require '../lib/atlassian.styl'
@require 'sidebar.styl'
@require 'homepage.styl'



body
  margin: 0
  //font-family: 'Helvetica Neue', Helvetica, Sans-serif
ul
  list-style: none
  padding: 0
  li
    margin: 0
::-webkit-input-placeholder
  color: #ddd
#content
  display: flex

.fake-image
  background-size: cover
  background-position: center
