@require 'akcolor.styl'

.button
  border-radius: 3px
  font-size: 14px
  height: 32px
  line-height: 32px
  display: inline-block
  padding: 0px 10px
  cursor: pointer
  &.primary
    background-color: $ak-color-B400
    color: white
  &.standard
    background-color: $ak-color-N30
    color: $ak-color-N800
  &.link
    color: $ak-color-B300
  &.dropdown
    background-color: $ak-color-N30
    color: $ak-color-N800
