// Atlaskit variables

// Reds
$ak-color-R50 = #FFEBE6
$ak-color-R75 = #FFBDAD
$ak-color-R100 = #FF8F73
$ak-color-R200 = #FF7452
$ak-color-R300 = #FF5630
$ak-color-R400 = #DE350B
$ak-color-R500 = #BF2600

// Yellows
$ak-color-Y50 = #FFFAE6
$ak-color-Y75 = #FFF0B3
$ak-color-Y100 = #FFE380
$ak-color-Y200 = #FFC400
$ak-color-Y300 = #FFAB00
$ak-color-Y400 = #FF991F
$ak-color-Y500 = #FF8B00

// Greens
$ak-color-G50 = #E3FCEF
$ak-color-G75 = #ABF5D1
$ak-color-G100 = #79F2C0
$ak-color-G200 = #57D9A3
$ak-color-G300 = #36B37E
$ak-color-G400 = #00875A
$ak-color-G500 = #006644

// Blues
$ak-color-B50 = #DEEBFF
$ak-color-B75 = #B3D4FF
$ak-color-B100 = #4C9AFF
$ak-color-B200 = #2684FF
$ak-color-B300 = #0065FF
$ak-color-B400 = #0052CC
$ak-color-B500 = #0049B0

// Purples
$ak-color-P50 = #DFD9FF
$ak-color-P75 = #C0B6F2
$ak-color-P100 = #998DD9
$ak-color-P200 = #8777D9
$ak-color-P300 = #6554C0
$ak-color-P400 = #5243AA
$ak-color-P500 = #403294

// Teals
$ak-color-T50 = #E6FCFF
$ak-color-T75 = #B3F5FF
$ak-color-T100 = #79E2F2
$ak-color-T200 = #00C7E6
$ak-color-T300 = #00B8D9
$ak-color-T400 = #00A3BF
$ak-color-T500 = #008DA6

// Neutrals
$ak-color-N10 = #FAFBFC
$ak-color-N20 = #F4F5F7
$ak-color-N30 = #EBECF0
$ak-color-N40 = #DFE1E6
$ak-color-N50 = #C1C7D0
$ak-color-N60 = #B3BAC5
$ak-color-N70 = #A5ADBA
$ak-color-N80 = #97A0AF
$ak-color-N90 = #8993A4
$ak-color-N100 = #7A869A
$ak-color-N200 = #6C798F
$ak-color-N300 = #5E6C84
$ak-color-N400 = #505F79
$ak-color-N500 = #42526E
$ak-color-N600 = #344563
$ak-color-N700 = #253858
$ak-color-N800 = #172B4D
$ak-color-N900 = #091E42

$ak-color-N10A = rgba($ak-color-N900,0.02)
$ak-color-N20A = rgba($ak-color-N900,0.04)
$ak-color-N30A = rgba($ak-color-N900,0.08)
$ak-color-N40A = rgba($ak-color-N900,0.13)
$ak-color-N50A = rgba($ak-color-N900,0.25)
$ak-color-N60A = rgba($ak-color-N900,0.31)
$ak-color-N70A = rgba($ak-color-N900,0.36)
$ak-color-N80A = rgba($ak-color-N900,0.42)
$ak-color-N90A = rgba($ak-color-N900,0.48)
$ak-color-N100A = rgba($ak-color-N900,0.54)
$ak-color-N200A = rgba($ak-color-N900,0.60)
$ak-color-N300A = rgba($ak-color-N900,0.65)
$ak-color-N400A = rgba($ak-color-N900,0.71)
$ak-color-N500A = rgba($ak-color-N900,0.77)
$ak-color-N600A = rgba($ak-color-N900,0.82)
$ak-color-N700A = rgba($ak-color-N900,0.89)
