@require 'akcolor.styl'

.z100
    z-index: 100
    box-shadow: 0 1px 1px rgba($ak-color-N800,0.2), 0 0 0.5px 0 rgba($ak-color-N800,0.25)

.z200
  z-index: 200
  box-shadow: 0 4px 8px -2px rgba($ak-color-N800,0.32), 0 0 1px rgba($ak-color-N800,0.25)

.z300
  z-index: 300
  box-shadow: 0 24px 32px -8px rgba($ak-color-N800,0.24), 0 0 1px rgba($ak-color-N800,0.25)
